Repository natura-cosmeticos/natds-js, pull requests merged in 2020-07, with the labels that each got.

#351 [DSY-998] chore(natds-icons): fix swift output co-author: @raonivaladares
  packages/icons/scripts/svgToFont.js
  packages/icons/src/natds-icons.swift
Labels: enhancement, icons

#539 [DSY-1219] Fixes & improvements to `Icon` component
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/jest.config.js
  packages/web/package.json
  packages/web/src/Components/Alert.tsx
  packages/web/src/Components/Icon.tsx
  packages/web/src/Components/Icon/IIconProps.tsx
  packages/web/src/Components/Icon/getFontSize.ts
  packages/web/src/Components/Icon/index.tsx
  packages/web/src/Components/Icon/makeIconStyles.ts
  packages/web/src/Components/Select.tsx
  packages/web/src/__tests__/Alert.spec.tsx
  packages/web/src/__tests__/Dialog.spec.tsx
  packages/web/src/__tests__/Icon/__snapshots__/index.spec.tsx.snap
  packages/web/src/__tests__/Icon/getFontSize.spec.tsx
  packages/web/src/__tests__/Icon/index.spec.tsx
  packages/web/src/__tests__/Select.spec.tsx
  packages/web/src/__tests__/__snapshots__/Chip.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/ContextualBadge.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerMenu.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Intro.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/KeyboardDatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/List.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/index.spec.tsx
  packages/web/src/index.ts
  yarn.lock
Labels: component: Icon, enhancement, testing

#466 [DSY-1161] fix(tslint): upgrade dependency and fix warnings/errors
  lerna.json
  packages/docs/package.json
  packages/docs/tslint.json
  packages/icons/package.json
  packages/icons/src/index.ts
  packages/icons/tslint.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/avon.spec.ts
  packages/styles/src/index.ts
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/tokens/avatarSizes/IAvatarSizes.ts
  packages/styles/src/tokens/buttonSizes/IButtonSizes.ts
  packages/styles/src/tokens/colors/natura/IColorsNatura.ts
  packages/styles/tslint.json
  packages/web/package.json
  packages/web/src/Components/Avatar.tsx
  packages/web/src/Components/ContextualBadge.tsx
  packages/web/src/Components/DrawerMenu.tsx
  packages/web/src/Components/KeyboardDatePicker.tsx
  packages/web/src/Components/Popover.tsx
  packages/web/src/Components/TextField/SearchClear.tsx
  packages/web/src/Components/TextField/shared.ts
  packages/web/src/Components/Typography.tsx
  packages/web/src/Provider/index.tsx
  packages/web/src/Themes/index.ts
  packages/web/src/__mocks__/react-text-mask.tsx
  packages/web/src/__tests__/Icon/__snapshots__/index.spec.tsx.snap
  packages/web/src/__tests__/Icon/index.spec.tsx
  packages/web/src/__tests__/TextField.Field.spec.tsx
  packages/web/src/__tests__/TextField.PasswordReveal.spec.tsx
  packages/web/src/__tests__/TextField.SearchClear.spec.tsx
  packages/web/src/__tests__/TextField.spec.tsx
  packages/web/src/index.ts
  packages/web/tslint.json
Labels: dependencies, linting

#590 [DSY-1147] feat(web): temporarily remove DatePicker and KeyboardDatePicker components
  lerna.json
  packages/docs/package.json
  packages/docs/src/components/Picker/DatePicker/DatePicker.docs.mdx
  packages/docs/src/components/Picker/DatePicker/DatePicker.story.tsx
  packages/docs/src/components/Picker/DatePicker/sections.tsx
  packages/docs/src/components/Picker/KeyboardDatePicker/KeyboardDatePicker.docs.mdx
  packages/docs/src/components/Picker/KeyboardDatePicker/KeyboardDatePicker.story.tsx
  packages/docs/src/components/Picker/KeyboardDatePicker/sections.tsx
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
  packages/web/src/Components/DatePicker.tsx
  packages/web/src/Components/KeyboardDatePicker.tsx
  packages/web/src/__tests__/DatePicker.spec.tsx
  packages/web/src/__tests__/KeyboardDatePicker.spec.tsx
  packages/web/src/__tests__/TextField.spec.tsx
  packages/web/src/__tests__/__snapshots__/DatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/KeyboardDatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
  packages/web/src/__tests__/index.spec.tsx
  packages/web/src/index.ts
Labels: component: DatePicker, component: KeyboardDatePicker

#662 [DSY-1250] fix(icons): fix const value after refactoring
  .eslintignore
  .eslintrc.js
  lerna.json
  packages/docs/package.json
  packages/icons/babel.config.js
  packages/icons/jest.config.js
  packages/icons/package.json
  packages/icons/scripts/helpers/capitalizeWord.js
  packages/icons/scripts/helpers/capitalizeWord.test.js
  packages/icons/scripts/helpers/getIconString.js
  packages/icons/scripts/helpers/getIconString.test.js
  packages/icons/scripts/helpers/getUnicodeIconString.js
  packages/icons/scripts/helpers/getUnicodeIconString.test.js
  packages/icons/scripts/helpers/iconNameMapper.js
  packages/icons/scripts/helpers/iconNameMapper.test.js
  packages/icons/scripts/helpers/toCamelCase.js
  packages/icons/scripts/helpers/toCamelCase.test.js
  packages/icons/scripts/helpers/toCamelCaseMapper.js
  packages/icons/scripts/helpers/toCamelCaseMapper.test.js
  packages/icons/scripts/helpers/toIosUnicode.js
  packages/icons/scripts/helpers/toIosUnicode.test.js
  packages/icons/scripts/svgToFont.js
  packages/icons/src/natds-icons.swift
  packages/styles/package.json
  packages/web/config/test/setupEnzyme.ts
  packages/web/package.json
  yarn.lock
Labels: bug, icons, testing

#588 [DSY-1148] feat(web): add `Table` (DataTable) component
  packages/docs/.storybook/preview-head.html
  packages/docs/src/components/SelectControl/Checkbox/Checkbox.story.tsx
  packages/docs/src/components/Table/Components/HeaderWrapper.tsx
  packages/docs/src/components/Table/Components/ITableWithSelectWrapper.ts
  packages/docs/src/components/Table/Components/TableHeaderCell.tsx
  packages/docs/src/components/Table/Components/TableWithSelectWrapper.tsx
  packages/docs/src/components/Table/Components/TableWrapper.tsx
  packages/docs/src/components/Table/Components/index.tsx
  packages/docs/src/components/Table/Interactive.tsx
  packages/docs/src/components/Table/Table.docs.mdx
  packages/docs/src/components/Table/Table.story.tsx
  packages/docs/src/components/Table/exampleDataTable.ts
  packages/docs/src/components/Table/sections.tsx
  packages/docs/src/components/Table/tableAlignOptions.ts
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.spec.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.spec.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.spec.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.spec.ts.snap
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/styles/src/tokens/fontSize/index.ts
  packages/web/src/Components/Table/ITableProps.ts
  packages/web/src/Components/Table/Table.tsx
  packages/web/src/Components/Table/TableBody.tsx
  packages/web/src/Components/Table/TableCell.tsx
  packages/web/src/Components/Table/TableContainer.tsx
  packages/web/src/Components/Table/TableFooter.tsx
  packages/web/src/Components/Table/TableHead.tsx
  packages/web/src/Components/Table/TablePagination.tsx
  packages/web/src/Components/Table/TableRow.tsx
  packages/web/src/Components/Table/TableSortLabel.tsx
  packages/web/src/__tests__/Table.spec.tsx
  packages/web/src/__tests__/TableBody.spec.tsx
  packages/web/src/__tests__/TableCell.spec.tsx
  packages/web/src/__tests__/TableFooter.spec.tsx
  packages/web/src/__tests__/TableHead.spec.tsx
  packages/web/src/__tests__/TablePagination.spec.tsx
  packages/web/src/__tests__/TableRow.spec.tsx
  packages/web/src/__tests__/TableSortLabel.spec.tsx
  packages/web/src/__tests__/__snapshots__/Avatar.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerHeader.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Fab.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Intro.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableBody.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableCell.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableFooter.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableHead.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TablePagination.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableRow.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableSortLabel.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
  packages/web/src/__tests__/themes/natura/__snapshots__/natura.spec.tsx.snap
  packages/web/src/index.ts
Labels: ci running, component: Table, documentation, enhancement
