Repository natura-cosmeticos/natds-js, pull requests merged in 2021-01, with the labels that each got.

#1255 feat(rating): add new component
  lerna.json
  packages/web/package.json
  packages/web/src/Components/Rating/Rating.argTypes.ts
  packages/web/src/Components/Rating/Rating.props.ts
  packages/web/src/Components/Rating/Rating.stories.tsx
  packages/web/src/Components/Rating/Rating.styles.test.tsx
  packages/web/src/Components/Rating/Rating.styles.ts
  packages/web/src/Components/Rating/Rating.test.tsx
  packages/web/src/Components/Rating/Rating.tsx
  packages/web/src/Components/Rating/__fixtures__/sizes.ts
  packages/web/src/Components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/web/src/Components/Rating/index.ts
  packages/web/src/index.ts
Labels: component: Rating

#1267 feat(Image): update Image component
  lerna.json
  packages/styles/package.json
  packages/web/package.json
  packages/web/src/Components/Image/Image.argTypes.ts
  packages/web/src/Components/Image/Image.props.ts
  packages/web/src/Components/Image/Image.stories.tsx
  packages/web/src/Components/Image/Image.styles.ts
  packages/web/src/Components/Image/Image.test.tsx
  packages/web/src/Components/Image/Image.tsx
  packages/web/src/Components/Image/__snapshots__/Image.test.tsx.snap
  packages/web/src/Components/__snapshots__/sign-up-step1.stories.storyshot
  packages/web/src/assets/product-empty-256x256.png
  packages/web/src/assets/product-empty-512x512.png
Labels: component: Image

#1266 feat(select): create component
  lerna.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/package.json
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/Image/Image.stories.tsx
  packages/web/src/Components/Image/Image.tsx
  packages/web/src/Components/Input/Input.styles.ts
  packages/web/src/Components/Input/Input.tsx
  packages/web/src/Components/Input/__snapshots__/Input.test.tsx.snap
  packages/web/src/Components/Rating/Rating.tsx
  packages/web/src/Components/Select/Select.argTypes.ts
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.stories.tsx
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
  packages/web/src/Components/Select/index.ts
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/web/src/Components/__snapshots__/sign-up-step1.stories.storyshot
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  packages/web/src/index.ts
Labels: component: Select, new component
