Repository natura-cosmeticos/natds-js, pull requests merged in 2021-07, with the labels that each got.

#1449 fix(select): add missing props
  lerna.json
  packages/web/package.json
  packages/web/src/Components/Select/Select.argTypes.ts
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.stories.tsx
  packages/web/src/Components/Select/Select.tsx
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
Labels: component: Select

#1481 fix(select): accept new option type object
  packages/web/package.json
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.stories.tsx
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
  yarn.lock
Labels: natds-web

#1444 feat(dialog): add new component
  .eslintrc.js
  .typo-ci.yml
  .watchmanconfig
  lerna.json
  package.json
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/getting-started.stories.mdx
  packages/react/package.json
  packages/react/src/components/Dialog/Dialog.props.ts
  packages/react/src/components/Dialog/Dialog.stories.tsx
  packages/react/src/components/Dialog/Dialog.styles.ts
  packages/react/src/components/Dialog/Dialog.test.tsx
  packages/react/src/components/Dialog/Dialog.tsx
  packages/react/src/components/Dialog/DialogBody/DialogBody.props.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.styles.ts
  packages/react/src/components/Dialog/DialogBody/DialogBody.tsx
  packages/react/src/components/Dialog/DialogBody/index.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.props.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.styles.ts
  packages/react/src/components/Dialog/DialogFooter/DialogFooter.tsx
  packages/react/src/components/Dialog/DialogFooter/index.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.props.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.styles.ts
  packages/react/src/components/Dialog/DialogHeader/DialogHeader.tsx
  packages/react/src/components/Dialog/DialogHeader/index.ts
  packages/react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react/src/components/Dialog/index.ts
  packages/react/src/components/Portal/Portal.test.tsx
  packages/react/src/components/Portal/Portal.tsx
  packages/react/src/components/Portal/__mocks__/Portal.tsx
  packages/react/src/components/Portal/__snapshots__/Portal.test.tsx.snap
  packages/react/src/components/Portal/index.ts
  packages/react/src/components/Ripple/Ripple.styles.ts
  packages/react/src/hooks/useWindowSize.test.ts
  packages/react/src/hooks/useWindowSize.ts
  packages/react/src/index.ts
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Labels: component: Dialog, natds-react

#1486 fix(drawer): change the list type
  lerna.json
  packages/web/package.json
  packages/web/src/Components/Button/Button.test.tsx
  packages/web/src/Components/Chip/Chip.test.tsx
  packages/web/src/Components/DrawerHeader/DrawerHeader.test.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenu.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenu.test.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.props.ts
  packages/web/src/Components/Field/Field.test.tsx
  packages/web/src/Components/Field/PasswordReveal/PasswordReveal.test.tsx
Labels: component: DrawerMenu, natds-web

#1476 feat(radio): add new component
  lerna.json
  package.json
  packages/react/package.json
  packages/react/src/components/Radio/Radio.props.ts
  packages/react/src/components/Radio/Radio.stories.tsx
  packages/react/src/components/Radio/Radio.styles.ts
  packages/react/src/components/Radio/Radio.test.tsx
  packages/react/src/components/Radio/Radio.tsx
  packages/react/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react/src/components/Radio/index.ts
  packages/react/src/components/_helpers/Label/Label.test.tsx
  packages/react/src/components/_helpers/Label/Label.tsx
  packages/react/src/components/_helpers/Label/__snapshots__/Label.test.tsx.snap
  packages/react/src/components/_helpers/Label/index.ts
  packages/react/src/index.ts
Labels: component: Radio, natds-react
